* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
}

.stars,.twinkling,.clouds,.shooting{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: block;
}

.stars {
    background: #000 url(https://i.imgur.com/PDOw7k2.png) top center;
}

@keyframes move-twink-back{
    from {background-position: 0 0;}
    to {background-position: -10000px 5000px;}
}

.twinkling{
    background: transparent url(https://i.imgur.com/aljoapq.png) repeat top center;
    animation: move-twink-back 200s linear infinite;
}

@keyframes move-clouds-back{
    from {background-position: 0 0;}
    to {background-position: -10000px 5000px;}
}

.clouds{
    background: transparent url(https://i.imgur.com/6YfrPKS.png);
    animation: move-clouds-back 200s infinite;
    background-size: cover;
}

span{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 5px rgba(255, 255, 255, 0.1),
    0 0 20px rgba(255, 255, 255, 1);
    animation: animate 3s linear infinite;
}

span::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0%;
    width: 150px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
    transform: translateY(-50%);

}

@keyframes animate{
    0%{
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }

    70%{
        opacity: 1;
    }
    100%{
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}

span:nth-child(1){
    top: 0; 
    right: 0;
    left: initial;
    animation-delay: 0;
    animation-duration: 1s;
}

span:nth-child(2){
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.2;
    animation-duration: 3s;
}

span:nth-child(3){
    top: 80px;
    right: 0px;
    left: initial;
    animation-delay: 0.4;
    animation-duration: 2s;
}

span:nth-child(4){
    top: 0px;
    right: 180px;
    left: initial;
    animation-delay: 0.6;
    animation-duration: 1.5s;
}

span:nth-child(5){
    top: 0px;
    right: 400px;
    left: initial;
    animation-delay: 0.8;
    animation-duration: 2.5s;
}

.moon{
    width: 900px;
    height: 900px;
    position: fixed;
    bottom: -510px;
    left: -120px;
    margin: 0;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 20px 20px transparent inset, 0 0 20px;
}

.moon > video{
    width: 100%;
    height: 100%;
    animation: spin 5s linear alternate infinite;
    object-fit: cover;
    transform: scale(1.2);
    transform-origin: center;
}

.buttons{
    position: fixed;
    width: 90px;
    height: 50px;
    top: 0;
    right: 0;
    margin-top: 50px;
    margin-right: 20px;
    border-radius: 10px;
    background: #ffffff10;
    border-color: #ffffff10;
    color: #fff;
}

.messagebox{
    position: absolute;
    width: 500px;
    height: 380px;
    right: 50%;
    left: 50%;
    bottom: 50%;
    top: 50%;
    border-radius: 20px;
    background-color: #ffffff10;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(5px);
    text-align: center;
}

.messagebox h1{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #808080;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.messagebox h3{
    position: absolute;
    color: #808080;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.messagebox .surBTN{
    position: fixed;
    width: 90px;
    height: 50px;
    bottom: 0;
    background: transparent;
    right: 0;
    border-color: #ffffff10;
    border-radius: 30px;
    margin-right: 25px;
    margin-bottom: 20px;
}

#musicSurprice{
    display: none;
}

#background-audio{
    display: none;
}

@media (min-width: 360px) and (max-width: 425px) and (orientation: portrait) {
    .moon > video{
        display: block;
    }

    span:nth-child(1){
        top: 50%;
        right: 29%;
        left: auto;
        animation-delay: 0;
        animation-duration: 1.5s;
    }
    
    span:nth-child(2){
        top: 60%;
        left: 70%;
        right: auto;
        animation-delay: 0.2;
        animation-duration: 2.5s;
    }
    
    span:nth-child(3){
        top: 19%;
        left: 50%;
        right: auto;
        animation-delay: 2;
        animation-duration: 5s;
    }
     
    span:nth-child(4){
        top: 70%;
        right: 29%;
        left: auto;
        animation-delay: 0.6;
        animation-duration: 2s;
    }
    
    span:nth-child(5){
        top: 30%;
        left: 70%;
        right: auto;
        animation-delay: 0.8;
        animation-duration: 3.5s;
    }

    .moon{
        width: 590px;
        height: 590px;
        position: fixed;
        bottom: -320px;
        left: -290px;
        margin: 0;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0 0 20px 20px transparent inset, 0 0 20px;
        
    }

    .buttons{
        width: 70px;
        height: 40px;
        top: 0;
        right: 0;
        margin-top: 50px;
        margin-right: 20px;
        border-radius: 10px;
    }

    .messagebox{
        position: absolute;
        width: 90%;
        height: auto;
        border-radius: 20px;
        background-color: #ffffff10;
        text-align: center;
        padding: 40%;
    }

    .messagebox h1{
        position: absolute;
        top: 20%;
        left: 50%;
        font-size: 30px;
        transform: translate(-50%, -50%);
        color: #808080;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
    }
    
    .messagebox h3{
        position: absolute;
        color: #808080;
        top: 55%;
        left: 50%;
        font-size: 13px;
        transform: translate(-50%, -50%);
        
    }

    .messagebox .surBTN{
        position: fixed;
        width: 90px;
        height: 50px;
        bottom: 0;
        background: transparent;
        right: 0;
        border-color: #ffffff10;
        border-radius: 30px;
        margin-right: 25px;
        margin-bottom: 20px;
    }
}

@media (min-height: 360px) and (max-height: 425px) and (orientation: landscape) {
    .moon > video{
        width: 100%;
        height: 100%;
        animation: spin 5s linear alternate infinite;
        object-fit: cover;
        transform: scale(1.2);
        transform-origin: center;
    }

    span:nth-child(1){
        top: 50%;
        right: 29%;
        left: auto;
        animation-delay: 0;
        animation-duration: 1.5s;
    }
    
    span:nth-child(2){
        top: 60%;
        left: 70%;
        right: auto;
        animation-delay: 0.2;
        animation-duration: 2.5s;
    }
    
    span:nth-child(3){
        top: 19%;
        left: 50%;
        right: auto;
        animation-delay: 2;
        animation-duration: 5s;
    }
     
    span:nth-child(4){
        top: 70%;
        right: 29%;
        left: auto;
        animation-delay: 0.6;
        animation-duration: 2s;
    }
    
    span:nth-child(5){
        top: 30%;
        left: 70%;
        right: auto;
        animation-delay: 0.8;
        animation-duration: 3.5s;
    }

    .moon{
        width: 90px;
        height: 90px;
        top: 150px;
        margin: 0;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0 0 20px 20px transparent inset, 0 0 20px;
    }

    .buttons{
        width: 70px;
        height: 40px;
        top: 0;
        right: 0;
        margin-top: 50px;
        margin-right: 20px;
        border-radius: 10px;
    }

    .messagebox h3{
        position: absolute;
        color: #808080;
        top: 55%;
        left: 50%;
        font-size: 13px;
        transform: translate(-50%, -50%);
        
    }


    
}

@media (min-width: 426px) and (max-width: 490px) {
    .moon > video{
        display: block;
    }

    span:nth-child(1){
        top: 50%;
        right: 29%;
        left: auto;
        animation-delay: 0;
        animation-duration: 1.5s;
    }
    
    span:nth-child(2){
        top: 60%;
        left: 70%;
        right: auto;
        animation-delay: 0.2;
        animation-duration: 2.5s;
    }
    
    span:nth-child(3){
        top: 19%;
        left: 50%;
        right: auto;
        animation-delay: 2;
        animation-duration: 5s;
    }
     
    span:nth-child(4){
        top: 70%;
        right: 29%;
        left: auto;
        animation-delay: 0.6;
        animation-duration: 2s;
    }
    
    span:nth-child(5){
        top: 30%;
        left: 70%;
        right: auto;
        animation-delay: 0.8;
        animation-duration: 3.5s;
    }

    .moon{
        width: 620px;
        height: 620px;
        position: fixed;
        bottom: -320px;
        left: -290px;
        margin: 0;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0 0 20px 20px transparent inset, 0 0 20px;
        
    }

    .buttons{
        width: 70px;
        height: 40px;
        top: 0;
        right: 0;
        margin-top: 50px;
        margin-right: 20px;
        border-radius: 10px;
    }

    .messagebox{
        position: absolute;
        width: 90%;
        height: auto;
        border-radius: 20px;
        background-color: #ffffff10;
        text-align: center;
        padding: 40%;
    }

    .messagebox h1{
        position: absolute;
        top: 20%;
        left: 50%;
        font-size: 30px;
        transform: translate(-50%, -50%);
        color: #808080;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
    }

    .messagebox h3{
        position: absolute;
        color: #808080;
        top: 55%;
        left: 50%;
        font-size: 13px;
        transform: translate(-50%, -50%);
        
    }
}

@media (min-width: 491px) and (max-width: 555px) {
    .moon > video{
        display: block;
    }

    span:nth-child(1){
        top: 50%;
        right: 29%;
        left: auto;
        animation-delay: 0;
        animation-duration: 1.5s;
    }
    
    span:nth-child(2){
        top: 60%;
        left: 70%;
        right: auto;
        animation-delay: 0.2;
        animation-duration: 2.5s;
    }
    
    span:nth-child(3){
        top: 19%;
        left: 50%;
        right: auto;
        animation-delay: 2;
        animation-duration: 5s;
    }
     
    span:nth-child(4){
        top: 70%;
        right: 29%;
        left: auto;
        animation-delay: 0.6;
        animation-duration: 2s;
    }
    
    span:nth-child(5){
        top: 30%;
        left: 70%;
        right: auto;
        animation-delay: 0.8;
        animation-duration: 3.5s;
    }

    .moon{
        width: 690px;
        height: 690px;
        position: fixed;
        bottom: -320px;
        left: -290px;
        margin: 0;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0 0 20px 20px transparent inset, 0 0 20px;
    }

    .messagebox h3{
        position: absolute;
        color: #808080;
        top: 55%;
        left: 50%;
        font-size: 13px;
        transform: translate(-50%, -50%);
        
    }
}

@media (min-width: 556px) and (max-width: 621px) {
    .moon > video{
        display: block;
    }

    span:nth-child(1){
        top: 50%;
        right: 29%;
        left: auto;
        animation-delay: 0;
        animation-duration: 1.5s;
    }
    
    span:nth-child(2){
        top: 60%;
        left: 70%;
        right: auto;
        animation-delay: 0.2;
        animation-duration: 2.5s;
    }
    
    span:nth-child(3){
        top: 19%;
        left: 50%;
        right: auto;
        animation-delay: 2;
        animation-duration: 5s;
    }
     
    span:nth-child(4){
        top: 70%;
        right: 29%;
        left: auto;
        animation-delay: 0.6;
        animation-duration: 2s;
    }
    
    span:nth-child(5){
        top: 30%;
        left: 70%;
        right: auto;
        animation-delay: 0.8;
        animation-duration: 3.5s;
    }

    .moon{
        width: 720px;
        height: 720px;
        position: fixed;
        bottom: -320px;
        left: -290px;
        margin: 0;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0 0 20px 20px transparent inset, 0 0 20px;
    }

    .messagebox h3{
        position: absolute;
        color: #808080;
        top: 55%;
        left: 50%;
        font-size: 13px;
        transform: translate(-50%, -50%);
        
    }
}

@media (min-width: 622px) and (max-width: 687px) {
    .moon > video{
        display: block;
    }

    span:nth-child(1){
        top: 50%;
        right: 29%;
        left: auto;
        animation-delay: 0;
        animation-duration: 1.5s;
    }
    
    span:nth-child(2){
        top: 60%;
        left: 70%;
        right: auto;
        animation-delay: 0.2;
        animation-duration: 2.5s;
    }
    
    span:nth-child(3){
        top: 19%;
        left: 50%;
        right: auto;
        animation-delay: 2;
        animation-duration: 5s;
    }
     
    span:nth-child(4){
        top: 70%;
        right: 29%;
        left: auto;
        animation-delay: 0.6;
        animation-duration: 2s;
    }
    
    span:nth-child(5){
        top: 30%;
        left: 70%;
        right: auto;
        animation-delay: 0.8;
        animation-duration: 3.5s;
    }

    .moon{
        width: 760px;
        height: 760px;
        position: fixed;
        bottom: -320px;
        left: -290px;
        margin: 0;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0 0 20px 20px transparent inset, 0 0 20px;
    }

    .messagebox h3{
        position: absolute;
        color: #808080;
        top: 55%;
        left: 50%;
        font-size: 13px;
        transform: translate(-50%, -50%);
        
    }
}

@media (min-width: 688px) and (max-width: 753px) {
    .moon > video{
        display: block;
    }

    span:nth-child(1){
        top: 50%;
        right: 29%;
        left: auto;
        animation-delay: 0;
        animation-duration: 1.5s;
    }
    
    span:nth-child(2){
        top: 60%;
        left: 70%;
        right: auto;
        animation-delay: 0.2;
        animation-duration: 2.5s;
    }
    
    span:nth-child(3){
        top: 19%;
        left: 50%;
        right: auto;
        animation-delay: 2;
        animation-duration: 5s;
    }
     
    span:nth-child(4){
        top: 70%;
        right: 29%;
        left: auto;
        animation-delay: 0.6;
        animation-duration: 2s;
    }
    
    span:nth-child(5){
        top: 30%;
        left: 70%;
        right: auto;
        animation-delay: 0.8;
        animation-duration: 3.5s;
    }

    .moon{
        width: 800px;
        height: 800px;
        position: fixed;
        bottom: -320px;
        left: -290px;
        margin: 0;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0 0 20px 20px transparent inset, 0 0 20px;
    }
    .messagebox h3{
        position: absolute;
        color: #808080;
        top: 55%;
        left: 50%;
        font-size: 13px;
        transform: translate(-50%, -50%);
        
    }
}

@media (min-width: 754px) and (max-width: 819px) {
    .moon > video{
        display: block;
    }

    span:nth-child(1){
        top: 50%;
        right: 29%;
        left: auto;
        animation-delay: 0;
        animation-duration: 1.5s;
    }
    
    span:nth-child(2){
        top: 60%;
        left: 70%;
        right: auto;
        animation-delay: 0.2;
        animation-duration: 2.5s;
    }
    
    span:nth-child(3){
        top: 19%;
        left: 50%;
        right: auto;
        animation-delay: 2;
        animation-duration: 5s;
    }
     
    span:nth-child(4){
        top: 70%;
        right: 29%;
        left: auto;
        animation-delay: 0.6;
        animation-duration: 2s;
    }
    
    span:nth-child(5){
        top: 30%;
        left: 70%;
        right: auto;
        animation-delay: 0.8;
        animation-duration: 3.5s;
    }

    .moon{
        width: 800px;
        height: 800px;
        position: fixed;
        bottom: -320px;
        left: -290px;
        margin: 0;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0 0 20px 20px transparent inset, 0 0 20px;
    }

    .messagebox h3{
        position: absolute;
        color: #808080;
        top: 55%;
        left: 50%;
        font-size: 13px;
        transform: translate(-50%, -50%);
        
    }
}

    
